*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    min-height: 100vh;
    display: grid;
    align-content: space-around;
    font-size: 16px;
    grid-template-areas: " . . h"
                         " . b .";
}
header{
    grid-area: h;
    width: fit-content;
}
.modes{
    width: 100px;
    height: 50px;
    background-color:rgb(221, 209, 209);
    border: 1px solid rgb(4, 4, 80);
    border-radius: 20px;
    padding: 0.2em;
}
.modedon{
    width: 100px;
    height: 50px;
    background-color: rgb(36, 34, 34);
    border: 1px solid rgb(2, 2, 43);
    border-radius: 20px;
    padding: 0.2em;
    box-shadow: 0px 0px 10px rgb(15, 15, 15);
}
.dar{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(223, 219, 219);
    box-shadow: 0px 0px 10px rgb(168, 166, 166);
}
.whi{
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(8, 8, 8);
    box-shadow: 0px 0px 10px rgb(59, 56, 56);
    margin-left: auto;
}


main{
    background-color: #1F2937;
    padding: 2em;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    grid-area: b;
}
.sub-text{
    color: rgb(209, 203, 203);
}
.pass-show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid rgba(209, 203, 203, 0.5);
}
.pass-box{
    background-color: #273549;
    border-radius: 8px;
    height: 35px;
    margin: 1.5em 2em 1.5em 0;
    padding: 0.4em 0.6em;
    outline: none;
    border: none;
    display: block;
    color: #10B981;
    text-align: center;
    
}
h1{
    color: #fff;
}
span{
    color: #10B981;
    display: block;
}
button{
    background-color: #10B981;
    color: #fff;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 0.9em 1.8em;
    border-radius: 6px;
    margin: 2em 0;
    width: 50%;
    box-shadow: 2px 3px 12px rgba(133, 133, 143, 0.4);
}
button:active{
    background-color: #0a724f;
    color: rgb(204, 197, 197);
}
i{
    color: #fff;
    font-size: 1em;
    position: relative;
    top:1.7em;
    right: 1em;
    cursor: pointer;
}
i:active{
    color: rgb(207, 201, 201);
}
.button-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-range{
    padding: 0.6em 1.5em;
    width: 40%px;
    margin-left: 1em;
    font-weight: bold;
    border-radius: 6px;
}
.far{
    position: relative;
}
.far::after{
    position:absolute;
    top: -1.8em;
    left: 1em;
    width: 10px;
    height: 10px;
    color: #fff;
    font-size: 0.9em;
    display: none;
   
}
.far:active::after{
    content: "Copied";
    display: block;
}
.info{
    color: rgb(209, 203, 203);
    font-weight: bold;
    font-size: 1.5em;
}
.whitemode{
    background-color: #ECFDF5;
    }
    .darkmode{
        color: rgb(3, 12, 32);
    }
